# Unreal Engine 5 — gerados / binários
Binaries/
DerivedDataCache/
Intermediate/
Saved/
.vs/
*.sln
*.suo
*.opensdf
*.sdf
*.VC.db
*.VC.opendb

# Build artifacts
Build/
!Config/

# OS
Thumbs.db
.DS_Store
